/* 로컬 폰트 정의 */
@font-face {
	font-family: 'NanumPenScript';
	src: url('./fonts/NanumPenScript-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Jua';
	src: url('./fonts/Jua-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

button{
	font-size: 1rem;
}

ul{
	list-style: none;
	margin-bottom: 0;
	padding: 0;
}

.wrap{
	min-width: 1000px;
    min-height: 500px;
    
    margin-left: auto;
    margin-right: auto;
}

.innerWrap{
	max-width: 80%;
    margin-left: auto;
    margin-right: auto;	
}

/* header 시작 */
#header{
	height: 7rem;
	display: flex;
	flex-wrap: wrap; /* 요소가 넘칠 경우 다음 줄로 넘김 */
	justify-content: center; /* 가로로 가운데 정렬 */
    align-items: center; /* 세로로 가운데 정렬 */
    position: sticky;
    top: 0;
    background-color: white;
	z-index: 9999;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

#logoBox{
	display: flex;
	flex-grow: 1;
	padding-left: 2rem;
}

#logoImg{
	cursor: pointer;
	height: 4rem;
    width: 4rem;
}

#logoText{
	font-size: 2.5rem;
	font-family: 'NanumPenScript', sans-serif;
	cursor: pointer;
}

#navigationBox{
	display: inline-block;
	font-family: 'Jua', sans-serif;
}

#navigationBox > ul {
    display: flex; /* li 요소들이 가로로 배치됨 */
	/*flex-direction: row-reverse;  li 요소들이 오른쪽부터 배치됨 */
}

#navigationBox li.top-menu {
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    text-align: center;
    width: 10rem;
    line-height: 3rem;
}

.sub-menu {
    opacity: 0; 
    visibility: hidden;
    transition: visibility .2s ease, transform .2s ease;
	width: 10rem;
    background: #fff;
    position: absolute;
    top: 110%;
    z-index: 99999;
}

.sub-menu li{
	margin: 0.7rem 0;
	font-size: 1.3rem;
}

.top-menu::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ffc107;
    transition: width 0.4s ease;
}

.top-menu:hover::after {
    width: 100%;
}

.top-menu:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    transition: opacity .2s ease, visibility .2s ease, transform .2s ease;
	right: auto;
    left: 0;
}

li:hover, .sub-menu li:hover {
	color: rgb(98, 100, 100);
}

li:hover ul, li:hover li {
	color: initial; /* li:hover가 하위 태그에 상속되는 것을 방지 */
}
/* header 끝 */

/* index.html 시작 */
#bannerImgBox{
	display: flex;
	height: 50rem;
	position: relative;
	text-align: center;	
}

.bannerImg{
    width: 100%;
	height: auto;	
}

.bannerTxt {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 24px;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.5); /* 텍스트 가독성을 높이기 위한 반투명 배경 */
	padding: 10px;
	border-radius: 5px;
	text-align: left;
}

#homeBoardBox {
    display: flex;
    justify-content: space-around;
    gap: 5rem; /* 컬럼 사이 간격 */
    padding: 2rem 0;
}

.homeBoardCol {
    background-color: #f2eaf7; /* 연한 보라색 배경 */
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.homeBoardCol p {
    font-size: 20px;
    font-weight: bold;
    color: #383e82; /* 진한 파란색 텍스트 */
    margin-bottom: 15px;
}

.homeBoardCol table {
    width: 100%;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 카드 스타일 그림자 */
}

.homeBoardCol table tr {
    cursor: pointer;
}

.homeBoardCol table td {
    padding: 10px;
    background-color: #ffffff; /* 하얀 배경 */
    margin-bottom: 10px;
}

.homeBoardCol table td:nth-child(2) {
    text-align: right;
    color: #9e9e9e; /* 날짜에 대한 회색 텍스트 */
}

#homeInfoBox{
    display: flex;
    justify-content: space-around;
    gap: 5rem; /* 컬럼 사이 간격 */
    padding: 2rem 0;
}

.homeInfoCol{
    flex: 1;
}

#homeInfoTxtBox{
	padding: 1rem;
	margin-left: 5rem;
}

#homeInfoBox h1{
	font-size: 2.5rem;
	margin-left: 1rem;
}

.homeInfoLine{
    border-top: solid #ffc107 3px;
    padding-bottom: 6px;
	margin-right: 50%;
}

#homeInfoBox h3{
	font-size: 2rem;
	margin-left: 1rem;
}

#homeInfoBox ul{
	list-style: disc;
	margin-left: 4rem;
	font-size: 1.5rem;
}

.homeInfoImgBox {
	position: relative;
	display: inline-block; /* 이미지 크기에 맞게 컨테이너 크기 조정 */
}
  
.image-background {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 80%;
    height: 100%;
    border: 4px solid orange;
    z-index: 1;
}

#homeInfoImg {
    position: relative;
    z-index: 2;
    display: block;
    max-width: 80%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#footerBox{
	align-content: center;
	text-align: center;
	color: #ffffff;
	margin-top: 2rem;
	background-image: url("../images/system/footerBackground.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	height: 15rem;
}

#footerBox h1{
	font-size: 2rem;
}

#footerBox h3{
	font-size: 1.3rem;
}
/* index.html 끝 */

#mnuTitleBox{
	 text-align: center;
	 margin: 1rem 0;
}

.mnuBoxHome{
	flex: 0 1 calc(33.3%); /* 각 이미지가 3개씩 배치되도록 설정 */
}

/* businessInfo 시작 */
#infoBannerImgBox{
	display: flex;
	height: 10rem;
	position: relative;
	text-align: center;	
	overflow: hidden;
}

.infoBannerImg{
    width: 100%;
	height: 400%;
}

.infoBannerTxt {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 24px;
	font-weight: bold;
}
/* businessInfo 끝 */

/* portfolio 시작 */
#mnuTitleBox {
    min-height: 1px; /* 기본 높이 설정 */
    height: auto; /* 콘텐츠에 따라 높이 자동 조정 */
    overflow: hidden; /* float 요소가 있으면 부모 높이가 0이 되는 것을 방지 */
}

/* clearfix 추가 */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#mnuNavBox{
	display: flex;
	flex-wrap: wrap;
	/* height: 12rem; */
	align-items: center; /* 수직 가운데 정렬 */
	justify-content: center; /* 수평 가운데 정렬 */
}

.mnuBox{
	cursor: pointer;
}

.mnuBox:hover .mnuImg {
	transform: scale(1.1);
}

.imgBox{
	display: inline-block;
	max-width: 12rem;
	flex-grow: 1;
	margin: 0 1rem;
	/* overflow: hidden; */
}

.homepage .imgBox{
	max-width: 30rem;
}

.mnuImg{
	max-width: 100%;
	flex-grow: 1;
	transition: transform 0.3s ease;
}

.mnuNm{
	text-align: center;
	font-weight: bold;
	margin: 0.5rem 0;
}

#contentArea{
	display: flex;
	align-items: center; /* 수직 가운데 정렬 */
	justify-content: center; /* 수평 가운데 정렬 */
}

.contentBox{
	cursor: pointer;
	flex: 0 0 33%;
}

.contentImgBox{
	display: inline-block;
	margin: 0 1rem;
	/* overflow: hidden; */
	border: 1px solid #DDD
}

.contentImg{
	width: 100%;
	padding: 1rem;
}

.contentNm{
	text-align: center;
	font-weight: bold;
	margin: 0.5rem 0;
}

.designLine{
    border-top: 2px solid #dbdbdb;
    padding-bottom: 6px;
}

/* portfolio 끝 */

/* 로딩바 시작 */
.loadingPanel{
	display: none;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.loadingImg{
	width: 120px;
	height: 120px;
	border: 7px solid rgba(168, 151, 198, 0.2);
	border-top-color: #5894cf;
	border-radius: 50%;
	animation: spinner 800ms infinite linear;
}

.loadingText{
	position: fixed;
	font-weight: bold;
	animation: flicker 1100ms infinite alternate;
}

.copyText{
    position: fixed;
    font-weight: bold;
    background-color: #3f2c2ce3;
    padding: 10px 40px;
    color: white;
    border-radius: 12px;
}

@keyframes spinner{
	from {transform: rotate(0deg);}
	to   {transform: rotate(359deg);}
}

@keyframes flicker{
	from {opacity: 1;}
	to   {opacity: 0;}
}
/* 로딩바 끝 */

/* 반응형 스타일 시작 */
/* 화면이 ?px 이상일 때 */
@media screen and (min-width: 100px){
	.itemBlock{
		flex: 0 0 100%;
	}	
	html{
		font-size: 10px;
	}

	#schType, #schOrder{
		width: 100%;
	}	
	
	#schItmNm{
	    flex: 1 0 80%; 
	}	
}
@media screen and (min-width: 300px){
	.itemBlock{
		flex: 0 0 50%;
	}
	html{
		font-size: 11px;
	}	
	
	#schType, #schOrder{
		width: 140px;
	}		
}
@media screen and (min-width: 600px){
	.itemBlock{
		flex: 0 0 33%;
	}	
	html{
		font-size: 12px;
	}
	
	#schItmNm{
	    flex: 1 0 0; 
	}		
}    
@media screen and (min-width: 900px){
	.itemBlock{
		flex: 0 0 25%;
	}	
	html{
		font-size: 13px;
	}
} 
@media screen and (min-width: 1200px){
	.itemBlock{
		flex: 0 0 20%;
	}	
	html{
		font-size: 14px;
	}
} 
/* 반응형 스타일 끝 */